.button__layout {
  border: 2px solid;
  display: flex;
  flex-direction: row;
  align-items: center;      
  gap: 5px;       
  border-radius: 2rem;
  overflow: hidden;
  background-color: #fffcf9;
  opacity: 0.8;             
}

.button__layout:hover {
    border: 2px solid;
    background-color: #fffcf9;
    border-radius: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
    opacity: 0.9;
}

