.nav {
    display: flex;
    justify-content: flex-start;
    background-color: gray;
}

.active {
    color: tomato;
}

.link {
    text-decoration: none;
}

/* NavBar */

.nav_box {
    background-color: white;
    border-radius: 60px;
    margin: 10px;
    width: 190px;
    height: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_box:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
    transform: translateY(-8px) scale(1.05);
}

.nav_font {
    font-size: 20px;
    margin-bottom: 10px;
}